/.phpunit.cache
/bootstrap/ssr
docker
/storage/pail
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
# vite.config.ts
compose.yaml
/vendor/
/node_modules/
/public/hot
/public/build
/public/storage
/public/apk/
/storage/*.key
/storage/app
/storage/framework
/storage/logs
npm-debug.log
yarn-debug.log*
yarn-error.log*
.env
.env.backup
.env.local
.env.development
.env.productionbackup/*.sql
backup/
vetor-atendimento
vetor-tecnico
vetor-imagem
.DS_Store
public_vetoros.zip
public_vetoros.zip
